{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="mb-5">
        <h1>Tailored Questions</h1>
        <p>
            Tailor your question to a particaualr student.
        </p>
    </div>

    <form action="/" id="questionForm" method="post">
        <div class="grid-container">
            <div class="mb-3 top-div">
                <div class="mb-3">
                    <label for="questionarea" class="form-label">Enter your general question or prompt for a question</label>
                    <textarea class="form-control" id="questionarea" placeholder="Example question" maxlength="4500" name="question" required rows="5"></textarea>
                </div>

                <button class="btn btn-primary" id="submitbutton" type="submit">
                    Generate Question
                </button>
            </div>

            <div class="bottom-left-div">
                <div class="dropdown-container">
                    <select name="students" id="image-selector">
                        <option value="../static/student1.png">Daquoine Lamar</option>
                        <option value="../static/student2.png">William McCarteny</option>
                        <option value="../static/student3.png">Mary Eskander</option>
                    </select>
                </div>
                <div class="centered">
                    <img id="selected-image" src="../static/student1.png" alt="Student Image" />
                </div>
            </div>

            <div class="bottom-right-div">
                <h4>Personalized Output</h4>

                <div id="tailoredquestion"></div>
            </div>
        </div>
    </form>
{% endblock %}

{% block script %}
document.getElementById('image-selector').addEventListener('change', function() {
    var imagePath = this.value;
    document.getElementById('selected-image').src = imagePath;
});

$(document).ready(function() {
    $('#questionForm').submit(function(event) {
        event.preventDefault(); // Prevent the form from submitting via the browser
        var form = $(this);
        var url = form.attr('action');

        // Display loading indicator
        $('#submitbutton').html('Proccessing <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>').prop('disabled', true);

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // Serialize form data
            success: function(response) {

                if(response.status === 'success') {
                    // Update page with tailored questions
                    $('#tailoredquestion').html(response.tailoredquestion);
                }

                else if(response.status === 'error') {
                    // Display a meeasge about what went wrong
                    alert(response.message)
                }
            },
            error: function() {
                // Handle error
                alert('An error occurred. Please try again.');
            },
            complete: function() {
                // Hide loading indicator
                $('#submitbutton').html('Generate Question').prop('disabled', false);
            }
        });
    });
});
{% endblock %}